body {
    background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_322434.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    font-family: Arial, sans-serif;
  }
  .Todo-wrapper {
    padding: 2%;
    width: 90%; 
    max-width: 500px; 
    margin: 3% auto;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px wheat;
    border-radius: 10px;
  }
  
  .search-container {
    position: relative;
  }
  .search-container input{
    border-radius: 20px;
    font-size: 16px;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  h1 {
    color: white;
    text-align: center;
    margin-top: 20px; 
  }
  
  @media (max-width: 700px) {
    .btn-area input {
      width: 85%;
      text-align: center;
    }
    .btn {
      display: flex;
      justify-content: space-betweenn
    }
  }
  @media (min-width:900px ){
    .container-todo-list{
      display: flex;
      justify-content: space-between;
    }
    .todo-list{
      width: 100%;
    }
    .Todo-wrapper{
      max-width: 900px;
    }
    .secondarybtn{
      width: 90%;
    }
  }