body{
  background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_322434.jpg);
  background-attachment: fixed;
  background-size: cover;
}
h1{
  color: white;
  text-align: center;
}
.Todo-wrapper{
background-color: azure;
padding: 2%;
width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
max-height: 80vh;
overflow-y: auto;
box-shadow: 0px 5px 7px wheat;
border-radius: 10px;
}
.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;;
}
.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-input-item input{
  padding: 8px;
  width: 250px;
  

}
.primarybtn{
  background-color: antiquewhite;
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 20px;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}
.primarybtn:hover{
  background-color: skyblue;
}
.secondarybtn{
  background-color: antiquewhite;
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 20px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  margin: 2px;
}
.active{
  background-color: aquamarine;
}
.todo-list{
  display: flex;
  flex-direction: column;
}
.btn-area{
  margin-bottom: 15px;
}
.todo-list-item{
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
#h3{
  font-size: 25px;
}
p{
  font-size: 14px;
  color: rgb(83, 93, 102);
  margin-top: 0px;
}
.btndc{
  margin-top: 20px;
}
.btnd{
  font-size: 20px;
  margin: 12px;
  border: none;
  border-radius: 20px;
}
.btnc{
  border: none;
  border-radius: 20px;
  font-size: 20px;
}
.btnd:hover{
  background-color: rgb(84, 229, 84);
}
.btnc:hover{
  background-color: rgb(57, 224, 57);
}